.txt-adesao {
    font-size: 14px;
    font-weight: 600;
  
    b {
      color: #3b69ff;
    }
  }
  
  svg {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
  }
  
  .margin {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  