<app-header [titleHeader]="appTitle" [profImg]="profilePic"></app-header>

<div class="padrao-margem cadastrar">

  <h1>Digite o código que acabamos de te mandar por e-mail</h1>
  <p>Ele ficará ativo por XX minutos.</p>

  <label class="two-name">
    <div class="label-float">
      <input type="text" placeholder=" " />
      <label>Código</label>
      <a (click)='modal = true'>Reenviar</a>
    </div>
  </label>

  <app-btn nextPage="/vincularchave-e-email-celular" class="absolute one" disabled="0" label="Continuar"></app-btn>

</div>

<div *ngIf='modal == true' class="modal">
  <div class="bg"></div>
  <div class="box">
    <h2>O código foi reenviado para o e-mail:</h2>
    <p>reble@reble.com.br</p>

    <app-btn nextPage="/vincularchave-e-email-celular" disabled="0" label="OK"></app-btn>
  </div>
</div>