.bg-participar{
    &.bg{
        .page-header{
            h1{
                margin-bottom: 0;
            }
        }
    }
    margin-bottom: 70px;
    @media(min-width: 1200px) and (max-width: 1600px) {
        margin-bottom: 17px;
    }
    @media(min-width: 992px) and (max-width: 1199px) {
        margin-bottom: 20px;
    }
    .ilustracao{
        margin-top: -433px;
        overflow: hidden;
        padding-left: 55px;
        @media(min-width: 1200px) and (max-width: 1600px) {
            width: 79%;
            margin: 0 auto;
            margin-top: -301px;
        }

        @media(min-width: 992px) and (max-width: 1199px) {
            margin-top: -187px;
            width: 74%;
            padding-right: 0;
            padding-left: 55px;
        }
        @media(min-width: 0px) and (max-width: 991px) {
            padding-right: 0;
            height: 429px;
            margin: 0 auto;
            margin-top: 60px;
            padding: 0;
        }
    }

    .box-info{
        &.compre{
            margin-top: 15px;
            height: 175px;
            margin-left: -93px;
            @media(min-width: 992px) and (max-width: 1600px) {
                margin-top: 0px;
                margin-left: 0;
            }
            @media(min-width: 992px) and (max-width: 1199px) {
                height: 95px;
            }
            @media(min-width: 0px) and (max-width: 991px) {
                margin-left: 0;
            }
            i.icon-compre{
                background: url(../default/img/icon-compre.svg) no-repeat;
                background-size: cover;
                width: 175px;
                height: 175px;
                float: left;
                @media(min-width: 1200px) and (max-width: 1600px) {
                    width: 150px;
                    height: 150px;
                }
                @media(min-width: 992px) and (max-width: 1199px) {
                    width: 90px;
                    height: 97px;
                }
                @media(min-width: 0px) and (max-width: 991px) {
                    width: 100px;
                    height: 117px;
                    float: inherit;
                    display: block;
                    margin: 0 auto;
                }  
            }
        }
        &.cadastre{
            margin-top: -55px;
            margin-left: 52px;
            height: 196px;
            float: right;
            @media(min-width: 1200px) and (max-width: 1600px) {
                height: 165px;
                margin-top: -69px;
                margin-left: 173px;
            }
            @media(min-width: 992px) and (max-width: 1199px) {
                margin-top: -30px;
                height: 120px;
                margin-left: 120px;
            }
            @media(min-width: 0px) and (max-width: 991px) {
                margin-top: 20px;
                float: inherit;
                margin-left: 0;
                height: 232px;
            }
            i.icon-cadastre{
                background: url(../default/img/icon-cadastre.svg) no-repeat;
                background-size: cover;
                width: 164px;
                height: 214px;
                float: left;
                @media(min-width: 1200px) and (max-width: 1600px) {
                    width: 127px;
                    height: 160px;
                    margin-right: 20px;
                }
                @media(min-width: 992px) and (max-width: 1199px) {
                    width: 90px;
                    height: 115px;
                    margin-right: 13px;
                }
                @media(min-width: 0px) and (max-width: 991px) {
                    width: 100px;
                    height: 117px;
                    float: inherit;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        &.concorra{
            margin-top: 142px;
            height: 249px;
            margin-left: -92px;
            @media(min-width: 1200px) and (max-width: 1600px) {
                margin-top: 62px;
                margin-left: -17px;
            }
            @media(min-width: 992px) and (max-width: 1199px) {
                margin-top: 93px;
                height: 224px;
                margin-left: 4px;
            }
            @media(min-width: 0px) and (max-width: 991px) {
                margin-top: 14px;
                margin-left: 0;
            }
            i.icon-concorra{
                background: url(../default/img/icon-concorra.svg) no-repeat;
                background-size: cover;
                width: 173px;
                height: 171px;
                float: left;
                margin-right: 15px;
                @media(min-width: 1200px) and (max-width: 1600px) {
                    width: 126px;
                    height: 122px;
                    margin-top: 0px;
                    margin-bottom: 86px;
                }
                @media(min-width: 992px) and (max-width: 1199px) {
                    width: 91px;
                    height: 99px;
                    margin-bottom: 22px;
                }
                @media(min-width: 0px) and (max-width: 991px) {
                    width: 100px;
                    height: 117px;
                    float: inherit;
                    display: block;
                    margin: 0 auto;
                }
            }
            ul{
                padding: 0;
                margin-top: 25px;
                height: 120px;
                @media(min-width: 0px) and (max-width: 991px) {
                    width: 300px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 25px;
                }
                li{
                    list-style: none;
                    float: left;
                    width: 23.65%;
                    position: relative;
                    @media(min-width: 0px) and (max-width: 991px) {
                        width: 33.33%;
                    }
                    &.viagem{
                        img{
                            width: 100px;
                            margin: 0 auto;
                            display: block;
                            margin-top: 5px;
                            @media(min-width: 0px) and (max-width: 991px) {
                                width: 50px;
                            }
                            @media(min-width: 992px) and (max-width: 1199px) {
                                width: 50px;
                            }
                        }
                        &:after{
                            content: "";
                            background: url(../default/img/icon-mais.png) center no-repeat;
                            background-size: contain;
                            width: 31px;
                            height: 38px;
                            position: absolute;
                            top: 15px;
                            right: -17px;
                        }
                        p{
                            margin-top: 20px;
                        }
                    }
                    &.kit{
                        img{
                            width: 100px;
                            margin: 0 auto;
                            display: block;
                            @media(min-width: 0px) and (max-width: 991px) {
                                width: 50px;
                            }
                            @media(min-width: 992px) and (max-width: 1199px) {
                                width: 50px;
                            }
                        }
                        &:after{
                            content: "";
                            background: url(../default/img/icon-mais.png) center no-repeat;
                            background-size: contain;
                            width: 31px;
                            height: 38px;
                            position: absolute;
                            top: 15px;
                            right: -17px;
                        }
                        p{
                            margin-top: 14px;
                            @media(min-width: 0px) and (max-width: 991px) {
                                margin-top: 22px;
                            }
                        }
                    }
                    &.smartphone{
                        img{
                            width: 64px;
                            margin: 0 auto;
                            display: block;
                            @media(min-width: 0px) and (max-width: 991px) {
                                width: 35px;
                            }
                            @media(min-width: 992px) and (max-width: 1199px) {
                                width: 50px;
                            }
                        }
                        p{
                            margin-top: 7px;
                            @media(min-width: 0px) and (max-width: 991px) {
                                margin-top: 16px;
                            }
                        }
                    }
                    p{
                        font-family: $font-pluto;
                        text-align: center;
                        font-size: 11px;
                        font-weight: 900;
                        line-height: 13px;
                    }
                }
            }
        }
        h2{
            font-family: $font-pluto;
            font-size: 27px;
            font-weight: 800;
            color: #273172;
            margin: 0;
            padding-top: 59px;
            margin-bottom: 4px;
            @media(min-width: 992px) and (max-width: 1199px) {
                padding-top: 22px;
                font-size: 20px;
            }
            @media(min-width: 0px) and (max-width: 991px) {
                text-align: center;
                padding-top: 10px;
            }
        }
        p{
            font-family: $font-pluto;
            font-size: 15.55px;
            font-weight: 500;
            color: #273172;
            margin: 0;
            line-height: 18px;
            @media(min-width: 992px) and (max-width: 1199px) {
                font-size: 14px;
            }
            @media(min-width: 0px) and (max-width: 991px) {
                text-align: center;
            }
            b{
                font-family: $font-pluto-cond;
                font-weight: 900;
            }
        }
    }

    .quero-participar {
        margin-top: 40px;
        @media(min-width: 1200px) and (max-width: 1600px) {
            margin-top: 13px;
        }
        @media(min-width: 992px) and (max-width: 1199px) {
            margin-top: 0px;
        }
        a{
            font-family: $font-pluto;
            font-size: 20px;
            font-weight: 500;
            background: #E33F4B 0% 0% no-repeat padding-box;
            border-radius: 25px;
            margin: 0 auto;
            display: block;
            padding: 16px 0;
            text-align: center;
            color: #FFF;width: 285px;
            height: 56px;
            text-decoration: none;
            @media(min-width: 1200px) and (max-width: 1600px) {
                margin: 15px auto;
                font-size: 15px;
                padding: 11px 0;
                width: 229px;
                height: 44px;
            }

            @media(min-width: 992px) and (max-width: 1199px) {
                font-size: 12px;
                padding: 10px 0;
                width: 219px;
                height: 42px;
            }
        }
    }
}


 