@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pluto Cond";
  src: url("fonts/PlutoCondHeavy.woff2") format("woff2"), url("fonts/PlutoCondHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pluto Cond";
  src: url("fonts/PlutoCondBlack.woff2") format("woff2"), url("fonts/PlutoCondBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pluto";
  src: url("fonts/PlutoMedium.woff2") format("woff2"), url("fonts/PlutoMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pluto";
  src: url("fonts/PlutoHeavy.woff2") format("woff2"), url("fonts/PlutoHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pluto Cond";
  src: url("fonts/PlutoCondBold.woff2") format("woff2"), url("fonts/PlutoCondBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pluto";
  src: url("fonts/PlutoRegular.woff2") format("woff2"), url("fonts/PlutoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pluto";
  src: url("fonts/PlutoBold.woff2") format("woff2"), url("fonts/PlutoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pluto Cond";
  src: url("fonts/PlutoCondMedium.woff2") format("woff2"), url("fonts/PlutoCondMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pluto Cond";
  src: url("fonts/PlutoCondRegular.woff2") format("woff2"), url("fonts/PlutoCondRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
