.bg {
  .content {
    width: 100%;
    background: #ffffff;
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 50px;

    @media (min-width: 320px) and (max-width: 767px) {
      padding: 20px;
      width: 94%;
      margin: 0 auto;
    }
  }

  .text {
    overflow: auto;
    height: 500px;
  }
}
