$font-pluto: "Pluto";
$font-pluto-cond: "Pluto Cond";
$font-helvetica: "Helvetica Neue";

$cinza: #363636;
$amarelo: #fed959;
$amarelo-claro: #fee17f;
$azul: #54cbe9;
$roxo: #562c7b;
$vermelho: #fc845f;
$verde: #c2cf49;
$preto-tab: #4d4d4d;

$cinza-escuro: #808080;
$cinza-claro: #f2f2f2;
$preto: #000000;

// FINI
$azul-nav: #6aa9e5;
$branco: #ffffff;
