// compileExpanded: ../default.css
@import "_aos";

@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_placeholders.scss";
@import "_slick";
//@import "_logado";
@import "_cadastre-se.scss";
@import "_home";
@import "_contato";
@import "_participe";
@import "_minha-area";
@import "_pos_nota_fiscal";
@import "_header";
@import "_footer";
@import "_home";
@import "_como-participar";
@import "_faq.scss";
@import "_regulamento.scss";
@import "produtos-participantes";
@import "_ganhadores";
@import "_esqueci_senha";

* {
  margin: 0;
  padding: 0;
}

.os-scrollbar-handle {
  height: 10% !important;
}

.os-content {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.bg-padrao {
  margin-top: 80px;
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-top: 70px;
  }
}

.bg {
  position: relative;
  padding-top: 80px;

  @media screen and (max-width: 767px) {
    margin-bottom: 100px;
  }
}

.page-header {
  position: relative;

  h1 {
    margin-bottom: 50px;
    margin-left: 150px;
    font-size: 50px;
    font-weight: 900;
    color: #273172;

    @media (min-width: 1px) and (max-width: 1080px) {
      text-align: center;
      margin-left: 0px;
      font-size: 30px;
    }
  }

  .arrow {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2292%22%20height%3D%2250%22%20viewBox%3D%220%200%2092%2050%22%3E%3Cg%20transform%3D%22translate%28-600%20-1326%29%22%3E%3Cpath%20d%3D%22M25%2C0%2C50%2C43H0Z%22%20transform%3D%22translate%28643%201326%29%20rotate%2890%29%22%20fill%3D%22%23e33f4b%22/%3E%3Cpath%20d%3D%22M16%2C0%2C32%2C27H0Z%22%20transform%3D%22translate%28692%201335%29%20rotate%2890%29%22%20fill%3D%22%23e33f4b%22/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 50px;
    width: 92px;
    display: block;
    top: 0;
    position: absolute;
    left: 10px;

    @media (min-width: 1081px) and (max-width: 1199px) {
      left: -40px;
    }

    @media (min-width: 768px) and (max-width: 1080px) {
      left: 125px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      display: none;
    }
  }
}

.has-error {
  p {
    display: block !important;
  }

  label {
    border-color: #a94442;
    color: #a94442;
  }

  .form-control {
    border-color: #a94442 !important;
    color: #a94442;
    box-shadow: none;
  }
}

html {
  // height: 100%;
  font-size: 100%;
  overflow-x: hidden;
  font-size: 160%;
  @media screen and (max-width: 767px) {
    font-size: 80%;
  }
  @media screen and (max-width: 991px) {
    font-size: 90%;
  }
  @media screen and (max-width: 1199px) {
    font-size: 100%;
  }
  @media screen and (max-width: 1950px) {
    font-size: 100%;
  }
}

body {
  font-family: $font-pluto;
  @include fontSize(1rem);
  overflow-x: hidden !important;

  position: fixed;
  left: 0;
  right: 0;
  background: url(../default/img/bg-home.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;

  & > .table {
    @media screen and (min-width: 768px) {
      min-height: 100vh;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  position: relative;
}

p {
  @include fontSize(calcRem(16px), calcRem(24px));
  @media screen and (min-width: 768px) {
    @include fontSize(calcRem(18px), calcRem(27px));
  }
}

h1 {
  font-weight: bold;
  @include fontSize(calcRem(24px), calcRem(36px));
  font-size: 1.875rem;
  line-height: 2.1875rem;
  text-align: center;
  margin-bottom: 1.5rem;
  @media screen and (min-width: 768px) {
    @include fontSize(calcRem(40px), calcRem(50px));
    text-align: left;
  }
}

.center {
  right: 0;
  left: 0;
  margin: 0 auto;
}

.flashMessage {
  .modal-content {
    background-color: $amarelo;
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        &.custom {
          border: transparent;
        }
      }
      border: none;
      border-radius: calcRem(25px);
      .modal-body {
        h4 {
          text-transform: uppercase;
          text-align: center;
          font-size: calcRem(24px);
          font-weight: 900;
          margin-bottom: calcRem(32px);
          color: $preto;
        }
        .icon {
          width: calcRem(138px);
          height: calcRem(138px);
          margin-bottom: calcRem(32px);
        }
        p {
          color: $preto;
        }
      }
      .close {
        cursor: pointer;
        background-color: $roxo;
        width: calcRem(40px);
        height: calcRem(40px);
        border-radius: calcRem(20px);
        background-size: calcRem(16px);
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M8%2C9.5L1.5%2C16L0%2C14.5L6.5%2C8L0%2C1.5L1.5%2C0L8%2C6.5L14.5%2C0L16%2C1.5L9.5%2C8l6.5%2C6.5L14.5%2C16L8%2C9.5z%22/%3E%3C/svg%3E%0A");
        position: absolute;
        top: calcRem(10px);
        right: calcRem(10px);
        z-index: 1;
      }
    }
  }
}

.red {
  background-color: $vermelho !important;
}

@media (min-width: 768px) {
  .form-home p {
    font-size: calcRem(16px);
    font-weight: normal;
  }
  .form-home .label-float.erro .erro,
  .form-home .label-float.has-error .erro {
    width: calcRem(173px) !important;
    height: calcRem(50px) !important;
    text-align: start !important;
    display: inline-block;
    padding: 18px 0px 0px 18px;
    position: absolute;
    color: #ffff;
    background: $vermelho;
    border-radius: 10px;
  }
  /*.form-home p.erro::after {
    content: "";
    width: 0;
    height: 0;
    left: -16px;
    top: 16px;
    border: 10px solid;
    border-color: #ff000000 $vermelho #ffff0000 #00800000;
    position: absolute;
  }*/
  .form-home i.error-form {
    @include bgImage("../default/img/svg/error_form.svg", contain, 0, 0);
    display: block;
    width: calcRem(16px);
    height: calcRem(16px);
    left: -60px;
    top: 12px;
    position: absolute;
  }
}

// FORM
.label-float {
  .new {
    margin: 0px;
    height: 140px;
    width: 100%;
    resize: none;
    overflow: hidden;
    line-height: 25px;
    margin-top: 6px;
  }
  position: relative;
  margin-bottom: calcRem(16px);
  width: 100%;
  display: inline-block;
  // padding-top: 13px;
  input,
  textarea,
  select {
    outline: none;
    width: 100%;
    font-size: calcRem(16px);
    height: calcRem(50px);
    line-height: calcRem(50px);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-appearance: none;
    padding-left: calcRem(20px);
    padding-right: calcRem(20px);
    position: relative;
    border: calcRem(2px) solid $vermelho;
    border-radius: calcRem(25px);
    background: transparent;
    color: $cinza-escuro;
    &::placeholder {
      color: transparent;
    }
    // label normal
    &:invalid:not(:focus) + label {
      background-color: transparent;
      font-size: calcRem(16px);
      height: calcRem(50px);
      line-height: calcRem(50px);
      padding-left: calcRem(0px);
      padding-right: calcRem(0px);
      top: 0;
    }
  }
  label {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    pointer-events: none;
    color: $vermelho;
    background-color: $branco;
    position: absolute;
    left: calcRem(20px);
    margin: 0;
    font-size: calcRem(12px);
    height: calcRem(14px);
    line-height: calcRem(14px);
    padding-left: calcRem(4px);
    padding-right: calcRem(4px);
    top: calcRem(-5px);
  }
  label.amarelo {
    background: $amarelo;
  }
  p {
    &.erro,
    &.erro-existe {
      color: $vermelho;
      font-size: calcRem(12px) !important;
      line-height: calcRem(18px) !important;
      display: none;
      margin-bottom: 0;
      margin-top: calcRem(4px);
    }
  }
  &.erro,
  &.has-error {
    .erro {
      width: 100%;
      text-align: right;
      display: inline-block;
      padding-right: calcRem(20px);
    }
  }
  &.has-error-existe {
    .erro-existe {
      width: 100%;
      text-align: right;
      display: inline-block;
      padding-right: calcRem(20px);
    }
  }
}

// FORM
a {
  &.btn {
    color: $branco !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.btn {
  color: $branco;
  background-color: $vermelho;
  border-radius: calcRem(25px);
  border: none;
  font-size: calcRem(24px);
  height: calcRem(50px);
  line-height: calcRem(50px) !important;
  padding-left: calcRem(20px) !important;
  padding-right: calcRem(20px) !important;
  text-transform: uppercase;
  font-weight: 900;
  margin: auto;
  display: block;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    color: $branco;
    outline: none !important;
  }
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.btn-ver-mais:hover {
  color: $vermelho !important;
}

.show-slide2 {
  margin-top: 40px;
}

.show-slide2 .regulamento {
  margin-top: 15px;
}

.green {
  color: $verde !important;
}

.btn-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  border-radius: 0;
  height: 2.25rem;
  font-size: 1.125rem;
  padding: 0;
}

.space {
  margin-bottom: 100px;
}

.page-header {
  border-bottom: transparent !important;
  padding-bottom: 0;
  margin: 0;
}

object {
  width: 100%;
  height: 100%;
}

.ganhadores {
  font-weight: 600;
}
