<div class="cont">
    <i class="logo"></i>
    <h1>Selecione o página</h1>

    <button routerLink="/index-celular">Adesão cadastrando os dados: Celular</button>
    <button routerLink="/cadastrar-email">Adesão cadastrando os dados: Email</button>
    <button routerLink="/cadastrar-email-celular">Adesão cadastrando os dados: Celular e e-mail</button>
    <button routerLink="/cadastrar-cpf">Adesão cadastrando os dados: CPF</button>
    <button routerLink="/sem-cadastrar">Adesão sem cadastrar dados</button>
</div>

 