.modal-backdrop {
  background: black;
  position: absolute;
  height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0.6;
}

.modal-bottom {
  @media (max-height: 600px){
    height: 60%;
  }

  position: absolute;
  z-index: 10;
  height: 50%;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
