<div class="content">
    <h1 class="title">Confirme o aumento do limite do cheque especial</h1>

    <div class="data-txt">
        <p>
            Novo limite <br>
            <b>R$ 2.500</b>
        </p>

        <p>
            Limite anterior <br>
            <b>R$ 1.500</b>
        </p>

        <p>
            Valor do seguro <br>
            <b>R$ 5</b>
        </p>

        <p>
            Taxa de juros efetiva <br>
            <b>XX,XX% ao mês  | XX,XX% ao ano</b>
        </p>

        <p>
            Tributos <br>
            <b>R$9.999.999,99 |  XX,XX%</b>
        </p>

        <p>
            Seguros <br>
            <b>R$9.999.999,99 |  XX,XX%</b>
        </p>

        <p>
            Tarifas <br>
            <b>R$9.999.999,99 |  XX,XX% </b>
        </p>

        <p>
            Serviços Terceiros <br>
            <b>R$9.999.999,99 |  XX,XX% </b>
        </p>

        <p>
            Registros <br>
            <b>R$9.999.999,99 |  XX,XX% </b>
        </p>

        <p>
            Total <br>
            <b>R$9.999.999,99 |  XX,XX% </b>
        </p>

        <p>
            CET – Custo Efetivo Total: <br>
            <b>XX,XX% ao mês  | XX,XX% ao ano</b>
        </p>

        <small>
            O Custo Efetivo Total (CET) representa a taxa de juros acrescida dos tributos, tarifas, seguros e demais
            despesas previstas na operação contratada e os respectivos percentuais de cada componente do fluxo da
            operação, que foram calculados com base no valor total concedido no ato da contratação desta operação. 
        </small>
        <hr>
    </div>

    <div class="check-style margin">
        <input type="checkbox" name="checkbox" id="check1" (change)="handleCheck()">
        <label for="check1"></label>
        <span class="txt-adesao">Li e concordo com o <b>regulamento</b></span>
    </div>

    <svg (click)="handleNext()" alt="Regulamento" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="360" height="383" viewBox="0 0 360 383">
        <defs>
            <clipPath id="clip-path">
                <circle id="Mask" cx="5" cy="5" r="5" transform="translate(19)" fill="#47484c" />
            </clipPath>
            <clipPath id="clip-path-2">
                <circle id="Mask-2" data-name="Mask" cx="5" cy="5" r="5" transform="translate(75)" fill="#47484c" />
            </clipPath>
            <clipPath id="clip-path-3">
                <circle id="Mask-3" data-name="Mask" cx="5" cy="5" r="5" transform="translate(131)" fill="#47484c" />
            </clipPath>
            <clipPath id="clip-path-4">
                <circle id="Mask-4" data-name="Mask" cx="5" cy="5" r="5" transform="translate(187)" fill="#47484c" />
            </clipPath>
            <clipPath id="clip-path-5">
                <circle id="Mask-5" data-name="Mask" cx="5" cy="5" r="5" transform="translate(243)" fill="#47484c" />
            </clipPath>
            <clipPath id="clip-path-6">
                <circle id="Mask-6" data-name="Mask" cx="5" cy="5" r="5" transform="translate(299)" fill="#47484c" />
            </clipPath>
        </defs>
        <g id="Grupo_126" data-name="Grupo 126" transform="translate(0 -1144.5)">
            <g id="Mobile_Chave_Habilitado" data-name="Mobile/Chave/Habilitado" transform="translate(0 1144.5)">
                <rect id="Rectangle_Copy" data-name="Rectangle Copy" width="360" height="383" fill="#ececec" />
                <g id="token" transform="translate(0 319)">
                    <rect id="Rectangle_2_Copy_18" data-name="Rectangle 2 Copy 18" width="360" height="64"
                        fill="#fff" />
                    <text id="Trocar_Chave_Copy" data-name="Trocar Chave Copy" transform="translate(8 11)"
                        fill="#3b69ff" font-size="14" font-family="Montserrat-SemiBold, Montserrat" font-weight="600">
                        <tspan letter-spacing="0.029em">
                            <tspan x="0" y="14">Trocar</tspan>
                        </tspan>
                        <tspan x="0" y="29.1" letter-spacing="0.029em">Chav</tspan>
                        <tspan y="29.1">e</tspan>
                    </text>
                    <g id="Group_2" data-name="Group 2" transform="translate(71 5)">
                        <circle id="Oval_Copy_11" data-name="Oval Copy 11" cx="22.321" cy="22.321" r="22.321"
                            transform="translate(0 2)" fill="none" stroke="#ff003e" stroke-miterlimit="10"
                            stroke-width="2" stroke-dasharray="6 3" />
                        <rect id="Rectangle_3_Copy_17" data-name="Rectangle 3 Copy 17" width="25.571" height="41.467"
                            transform="translate(21)" fill="#fff" opacity="0.8" />
                        <g id="Group_Copy_18" data-name="Group Copy 18" transform="translate(11.607 9.071)">
                            <path id="Stroke_1" data-name="Stroke 1"
                                d="M21.429,13.393a2.665,2.665,0,0,1-2.679,2.679H2.679A2.666,2.666,0,0,1,0,13.393V2.679A2.667,2.667,0,0,1,2.679,0H18.75a2.666,2.666,0,0,1,2.679,2.679Z"
                                transform="translate(0 11)" fill="none" stroke="#ff003e" stroke-miterlimit="10"
                                stroke-width="2" />
                            <path id="Stroke_3" data-name="Stroke 3"
                                d="M0,11.143V5.571C0,2.495,2.879,0,6.429,0s6.429,2.495,6.429,5.571v5.571"
                                transform="translate(4)" fill="none" stroke="#ff003e" stroke-miterlimit="10"
                                stroke-width="2" />
                            <path id="Stroke_5" data-name="Stroke 5" d="M0,0V3.429" transform="translate(11 18)"
                                fill="none" stroke="#ff003e" stroke-linecap="round" stroke-miterlimit="10"
                                stroke-width="2" />
                        </g>
                    </g>
                    <g id="Group" transform="translate(129 7)">
                        <text id="_4438560423_copy_11" data-name="4438560423 copy 11" transform="translate(29 22)"
                            fill="#5c5c5c" font-size="12" font-family="Montserrat-Regular, Montserrat"
                            letter-spacing="0.036em">
                            <tspan x="0" y="12">443856042</tspan>
                            <tspan y="12" letter-spacing="0.031em">3</tspan>
                        </text>
                        <text id="Ref:_Copy_11" data-name="Ref: Copy 11" transform="translate(0 22)" fill="#5c5c5c"
                            font-size="12" font-family="Montserrat-Regular, Montserrat" letter-spacing="0.086em">
                            <tspan x="0" y="12">Ref</tspan>
                            <tspan y="12" letter-spacing="0.073em">:</tspan>
                        </text>
                        <text id="_2_1_8_3_3_0_copy_11" data-name="2 1 8 3 3 0 copy 11" fill="#ff003e" font-size="16"
                            font-family="Montserrat-SemiBold, Montserrat" font-weight="600">
                            <tspan x="0" y="15" letter-spacing="0.195em">2 1 8 3 3 </tspan>
                            <tspan y="15">0</tspan>
                        </text>
                    </g>
                    <g id="bttn_copy_2" data-name="bttn copy 2" transform="translate(247 9)">
                        <g id="Rectangle_3_Copy_8" data-name="Rectangle 3 Copy 8" fill="none" stroke="#3b69ff"
                            stroke-miterlimit="10" stroke-width="1">
                            <rect width="105" height="40" rx="20" stroke="none" />
                            <rect x="0.5" y="0.5" width="104" height="39" rx="19.5" fill="none" />
                        </g>
                        <text id="Calendário_Copy_4" data-name="Calendário Copy 4" transform="translate(13 11)"
                            fill="#3b69ff" font-size="14" font-family="Montserrat-Medium, Montserrat" font-weight="500">
                            <tspan x="0.221" y="14">Usar chave</tspan>
                        </text>
                    </g>
                    <path id="Line_4_Copy_2" data-name="Line 4 Copy 2" d="M0,0V36.014" transform="translate(62 10)"
                        fill="none" stroke="#ffccd8" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1" />
                </g>
                <g id="Primário_Grande_Tamanho_fixo__Ativo" data-name="Primário/Grande/Tamanho fixo/_Ativo"
                    transform="translate(13 240)">
                    <rect id="Rectangle" width="328" height="48" rx="24" fill="#e1173f" />
                    <text id="Calendário_Copy_4-2" data-name="Calendário Copy 4" transform="translate(164 32)"
                        fill="#fff" font-size="14" font-family="Montserrat-Bold, Montserrat" font-weight="700">
                        <tspan x="-36.554" y="0">Confirmar</tspan>
                    </text>
                </g>
                <text id="Digite_abaixo_a_Chav" data-name="Digite abaixo a Chav" transform="translate(16 38)"
                    font-size="22" font-family="Montserrat-Bold, Montserrat" font-weight="700">
                    <tspan x="0" y="21">Digite abaixo a Chave</tspan>
                    <tspan x="0" y="53">de Segurança que aparece</tspan>
                    <tspan x="0" y="85">no visor do seu dispositivo.</tspan>
                </text>
                <g id="Chave_Token" data-name="Chave Token" transform="translate(16 177)">
                    <rect id="Rectangle-2" data-name="Rectangle" width="48" height="0.841" transform="translate(0 22)"
                        fill="#47484c" />
                    <circle id="Mask-7" data-name="Mask" cx="5" cy="5" r="5" transform="translate(19)" fill="#47484c" />
                    <rect id="Rectangle-3" data-name="Rectangle" width="48" height="0.841" transform="translate(56 22)"
                        fill="#47484c" />
                    <circle id="Mask-8" data-name="Mask" cx="5" cy="5" r="5" transform="translate(75)" fill="#47484c" />
                    <rect id="Rectangle-4" data-name="Rectangle" width="48" height="0.841" transform="translate(112 22)"
                        fill="#47484c" />
                    <circle id="Mask-9" data-name="Mask" cx="5" cy="5" r="5" transform="translate(131)"
                        fill="#47484c" />
                    <rect id="Rectangle-5" data-name="Rectangle" width="48" height="0.841" transform="translate(168 22)"
                        fill="#47484c" />
                    <circle id="Mask-10" data-name="Mask" cx="5" cy="5" r="5" transform="translate(187)"
                        fill="#47484c" />
                    <rect id="Rectangle-6" data-name="Rectangle" width="48" height="0.841" transform="translate(224 22)"
                        fill="#47484c" />
                    <circle id="Mask-11" data-name="Mask" cx="5" cy="5" r="5" transform="translate(243)"
                        fill="#47484c" />
                    <rect id="Rectangle-7" data-name="Rectangle" width="48" height="0.841" transform="translate(280 22)"
                        fill="#47484c" />
                    <circle id="Mask-12" data-name="Mask" cx="5" cy="5" r="5" transform="translate(299)"
                        fill="#47484c" />
                </g>
            </g>
        </g>
    </svg>

</div>