.txt-adesao {
  font-size: 14px;
  font-weight: 600;

  b {
    color: #3b69ff;
  }
}

.margin {
  margin-top: 48px;
  margin-bottom: 48px;
}

.desc-m {
  font-size: 14px !important;
  color: #47484c;
}
