<div class="principal-div">
  <div class="images">
    <img class="img1" src="assets/images/bg0-proj.png">
    <div class="rect1"></div>
    <img class="img2" src="assets/images/bg1-proj.png">
    <div class="rect2"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 limit">

        <div class="col-md-10 col-sm-12 col-xs-12">
          <section class="title-cont">
            <h2 class="section-page">Conheça <br> o <b>projeto</b></h2>
            <hr>
          </section>

          <section class="content">
            <p>
              Todo artista é um empreendedor. Todo artista negro <br>
              espalha a voz brasileira em essência. O Encontro <br>
              Bradesco de Vozes Brasileiras é a celebração da <br>
              música e das artes no Brasil, potencializando os <br>
              artistas negros e incentivando um olhar protagonista <br>
              de seu próprio negócio.
            </p>

            <p>
              BraVoz é um projeto multimídia que celebra da <br>
              bravura de quem cria com arte e música <br>
              verdadeiramente brasileira, sem abrir mão do <br>
              protagonismo de seu próprio negócio.
            </p>

            <div class="button">
              <a href="https://youtu.be/IPud4aeuGqo" data-lity>
                Vídeo manifesto

                <svg xmlns="http://www.w3.org/2000/svg" width="15.557" height="9.051" viewBox="0 0 15.557 9.051">
                  <g id="Grupo_198" data-name="Grupo 198" transform="translate(-647.5 -541.872)">
                    <g id="Grupo_197" data-name="Grupo 197" transform="translate(661.875 540.796) rotate(90)">
                      <path id="Caminho_108" data-name="Caminho 108"
                        d="M0,4.875,2.072,2.438,4.145,0,6.217,2.438,8.289,4.875" transform="translate(1.457 -0.41)"
                        fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1" />
                      <line id="Linha_14" data-name="Linha 14" y2="14.785" transform="translate(5.602 -0.41)"
                        fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1" />
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </section>
        </div>

        <div class="col-md-2">
          <ul>
            <li><i class="icon-size nota"></i></li>
            <li><i class="icon-size mic"></i></li>
            <li><i class="icon-size voice"></i></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>